.image-25-icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 390px;
  height: 527px;
  object-fit: cover;
}
.cozy-brown1 {
  position: absolute;
  top: 541px;
  left: 20px;
  letter-spacing: 0.05em;
}
.xs-s {
  position: absolute;
  top: 657px;
  left: 20px;
  letter-spacing: 0.1em;
}
.rs-19902 {
  position: absolute;
  top: 541px;
  left: 279px;
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
}
.floor-2 {
  margin: 0;
}
.floor-2-counter-container {
  position: absolute;
  top: 716px;
  left: 20px;
  font-size: var(--font-size-mid);
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
  text-align: left;
}
.check-size-chart {
  position: absolute;
  top: 657px;
  left: 227px;
  font-size: var(--font-size-mid);
  text-decoration: underline;
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
}
.span {
  color: var(--color-dimgray-200);
}
.b {
  position: absolute;
  top: 439px;
  left: 143px;
  font-size: var(--font-size-51xl);
  letter-spacing: 0.05em;
  color: var(--color-white);
}
.this-stunning-formal {
  position: absolute;
  top: 583px;
  left: 20px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.05em;
  display: flex;
  color: var(--color-dimgray-200);
  text-align: justify;
  align-items: center;
  width: 352px;
}
.image-25-icon3 {
  position: absolute;
  top: 17px;
  left: 315px;
  width: 57px;
  height: 55px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.image-30-icon1 {
  position: absolute;
  top: 786px;
  left: 0px;
  width: 390px;
  height: 58px;
  object-fit: cover;
  cursor: pointer;
}
.add-to-cart {
  position: absolute;
  top: 800px;
  left: 112px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
}
.store-coordinates {
  position: absolute;
  top: 695px;
  left: 20px;
  font-size: var(--font-size-mid);
  letter-spacing: 0.05em;
}
.iphone-14-10 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
