.image-20-icon3 {
  position: absolute;
  top: 117px;
  left: 209px;
  width: 161px;
  height: 270px;
  object-fit: cover;
}
.image-18-icon4 {
  position: absolute;
  top: 483px;
  left: 209px;
  width: 161px;
  height: 266px;
  object-fit: cover;
}
.image-17-icon8 {
  position: absolute;
  top: 483px;
  left: 19px;
  width: 177px;
  height: 266px;
  object-fit: cover;
  cursor: pointer;
}
.pastel-autumn {
  position: absolute;
  top: 790px;
  left: 226px;
  letter-spacing: 0.05em;
}
.piece-set2 {
  position: absolute;
  top: 426px;
  left: 249px;
  letter-spacing: 0.05em;
}
.rs-15993 {
  position: absolute;
  top: 443px;
  left: 263px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
}
.rs-16991 {
  position: absolute;
  top: 806px;
  left: 263px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
}
.rs-19905 {
  position: absolute;
  top: 813px;
  left: 81px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
}
.rs-18493 {
  position: absolute;
  top: 443px;
  left: 78px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  color: var(--color-dimgray-200);
}
.grey-pastel2 {
  position: absolute;
  top: 423px;
  left: 65px;
  letter-spacing: 0.05em;
}
.formally-chic2 {
  position: absolute;
  top: 795px;
  left: 55px;
  letter-spacing: 0.05em;
}
.new4 {
  position: absolute;
  top: 759px;
  left: 272px;
  letter-spacing: 0.05em;
}
.new5 {
  position: absolute;
  top: 761px;
  left: 91px;
  letter-spacing: 0.05em;
}
.image-21-icon1 {
  position: absolute;
  top: 753px;
  left: 255px;
  width: 70px;
  height: 30px;
  object-fit: cover;
}
.image-23-icon1 {
  position: absolute;
  top: 391px;
  left: 255px;
  width: 70px;
  height: 30px;
  object-fit: cover;
}
.image-22-icon1 {
  position: absolute;
  top: 755px;
  left: 74px;
  width: 70px;
  height: 30px;
  object-fit: cover;
}
.image-19-icon5 {
  position: absolute;
  top: 117px;
  left: 19px;
  width: 177px;
  height: 270px;
  object-fit: cover;
}
.image-24-icon1 {
  position: absolute;
  top: 391px;
  left: 69px;
  width: 70px;
  height: 30px;
  object-fit: cover;
}
.new6 {
  position: absolute;
  top: 397px;
  left: 272px;
  letter-spacing: 0.05em;
}
.filters1 {
  position: absolute;
  top: 73px;
  left: 19px;
  text-decoration: underline;
  letter-spacing: 0.05em;
}
.new7 {
  position: absolute;
  top: 394px;
  left: 86px;
  letter-spacing: 0.05em;
}
.trend-fits {
  position: absolute;
  top: 30px;
  left: 36px;
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 230px;
  height: 58px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-17-icon9 {
  position: absolute;
  top: 35px;
  left: 354px;
  width: 27px;
  height: 25px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.image-18-icon5 {
  position: absolute;
  top: 34px;
  left: 274px;
  width: 29px;
  height: 24px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.image-19-icon6 {
  position: absolute;
  top: 35px;
  left: 320px;
  width: 21px;
  height: 23px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.image-17-icon10 {
  position: absolute;
  top: 30px;
  left: 228px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.image-33-icon1 {
  position: absolute;
  top: 35px;
  left: 320px;
  width: 21px;
  height: 23px;
  object-fit: cover;
  mix-blend-mode: hard-light;
  cursor: pointer;
}
.image-26-icon1 {
  position: absolute;
  top: 124px;
  left: 161px;
  width: 26px;
  height: 24px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.image-27-icon1 {
  position: absolute;
  top: 124px;
  left: 341px;
  width: 26px;
  height: 24px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.image-28-icon1 {
  position: absolute;
  top: 491px;
  left: 341px;
  width: 26px;
  height: 24px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.image-29-icon1 {
  position: absolute;
  top: 491px;
  left: 161px;
  width: 26px;
  height: 24px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.image-42-icon {
  position: absolute;
  top: 35px;
  left: 8px;
  width: 18px;
  height: 16px;
  object-fit: cover;
  cursor: pointer;
}
.iphone-14-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
